<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Game Over(Title PlaceHolder)</title>
  </head>
  <body>
    <div align="center">
      <h1 id="game-title">Guess The Number Game</h1>
      <h2 id="game-over-msg">Game Over!!</h2>
      <h3 id="result-message">Result Message</h3>
      <div>
        <a id="play-again-link" href="redirect://play.html">Play Again</a>
      </div>
      <div>
        <a id="home-link" href="home.html">Go back to Home</a>
      </div>
      <footer>
        <p>Footer PlaceHolder</p>
      </footer>
    </div>
  </body>
</html>